@CHARSET "ISO-8859-1";
.zw-containor{
		position: absolute;top: 15%;left: 30%;
		z-index:3;
		width:40%;		
		height: 60%;
		min-height:500px;
		margin-top:2%;
		background:#fff;
		opacity:0.85;
		box-shadow:5px 5px 5px rgba(0,0,0,.6);
}
.zw-title{
	padding-left:5%;
}
form{
	width:90%;
	height:50%;	
}
.login-form{
	position:relative;	left:10%;
	width:60%;
	height:100%;
}
.login-info{
	padding:5%;
}
.login-input{
	height:30px;
	width:200px;
}
.login-submit{
	margin-left:45%;
}